/* This CSS file is for non-React styles only */
.asana-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.asana-error {
    color: var(--text-error);
    padding: 1rem;
    text-align: center;
}
